* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
    color: white;
    font: 16px normal Arial, helvetica;
    margin: 10px 5px;
}


h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.radio-buttons {
    margin: 10px 10px 20px 40px;
}

li {
    list-style: none;
    display: inline;
}

#all-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}